.App {
 display: flex;
 flex-direction: column;
 align-items: center;
 min-height: 100vh;
 background: linear-gradient(to left, #ffffff, #cacaca);

}

nav {
  display: flex;
  flex-direction: row;
  background-color: rgb(9, 116, 68);
  position: sticky;
  justify-content: space-between;
  top: 0;
  z-index: 100;
}

.footer{
  padding: 5px;
}

.link {
  padding: 10px;
  color: rgb(250, 248, 250);
  display: flex;
}

.ingredientLink{
  color: #E4540E;;
}

.ingredientList{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-image: linear-gradient(to left, rgb(9, 116, 68, 1), rgba(9, 116, 68, .4));
}

.ingredientInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin: 10px;
  color: #E4540E;
  background-image: linear-gradient(to bottom,rgb(250, 248, 250, 1),rgb(250, 248, 250, .6));}

/* button {
  background-color:  rgb(9, 116, 68);
  border: 1px solid #10B251;
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
  color: white;
} */

.newIngredientForm{
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 5px;
}

.ingredientTile{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* color: #E4540E; */
  background-image: linear-gradient(to bottom,rgb(250, 248, 250, 1),rgb(250, 248, 250, .6));
  border: 1px solid #10B251;
  padding: 5px;
  margin: 5px;
}

input {
  padding: 5px;
  margin: 5px;
  color:#E4540E;
  border: 1px solid #10B251; 
  border-radius: 5px;
}

/* label {
  font-weight: 600;
  color: #E4540E;
} */

.title {
  display: flex;
  justify-content: center;
}

.icon {
  max-height: 40px;
}

.homeImage1{
  padding: 5px;
  max-width: 600px; 
  height: auto; 
}

.homeSection1{
  padding: 5px;
  display: flex;
  flex-direction: row;
}

.description1{
  padding: 5px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  margin: 5px;
  background-image: linear-gradient(to right, rgb(9, 116, 68, 1), rgba(9, 116, 68, .8));
  color: white;
}

.homeSection2{
  padding: 5px;
  display: flex;
  flex-direction: row;
}

.description2{
  padding: 5px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  margin: 5px;
  background-image: linear-gradient(to left, rgb(9, 116, 68, 1), rgba(9, 116, 68, .8));
  color: white;
}

.ingredientShow{
  max-width: 200px;
  max-height: 200px;
  margin: 5px;
}

.ingredientThumb{
  max-width: 100px;
  max-height: 100px;
  margin: 5px;
}

/* .ingredientSelector {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding:5px;
  margin: 5px;
  background-color: #10B251;
}

.ingredientSelector label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  flex-direction: row;
}

.ingredientSelector input[type="checkbox"] {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.ingredientSelection{
  display: flex;
  flex-direction: column;
  align-items: center;
} */

/* .recipeSearch{
  width: 50%;
  float: left;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
} */

/* .recipeResults {
  width: 50%;
  float: left;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5px;
  margin: 5px;
} */

.recipeImage{
  max-width: 125px;
  max-height: 125px;
  margin: 5px
}

.recipeIcon{
  min-width: 300px;
  max-width: 300px;
  margin: 5px;
}

/* form {
  display: flex;
  flex-direction: column;
} */

input {
  max-width: 200px;
}

.loginImage {
  display: flex;
  max-height: 400px;
  align-items: center;
}

.registerImage {
  display: flex;
  max-height: 400px;
  align-items: center;
}


.newImage {
  display: flex;
  max-height: 400px;
  align-items: center;
}

