.App {
 display: flex;
 flex-direction: column;
 align-items: center;
 min-height: 100vh;
 background: linear-gradient(to left, #ffffff, #cacaca);

}

nav {
  display: flex;
  flex-direction: row;
  background-color: rgb(9, 116, 68);
  position: sticky;
  justify-content: space-between;
  top: 0;
  min-width: 100vw;
  z-index: 100;
}

.footer{
  padding: 5px;
}

.link {
  padding: 10px;
  color: rgb(250, 248, 250);
  display: flex;
}

.ingredientLink{
  color: #E4540E;;
}

.ingredientList{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-image: linear-gradient(to left, rgb(9, 116, 68, 1), rgba(9, 116, 68, .4));
}

.ingredientInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin: 10px;
  border: 1px solid #E4540E;
  color: #E4540E;
  background-image: linear-gradient(to bottom,rgb(250, 248, 250, 1),rgb(250, 248, 250, .6));}

button {
  background-color:  rgb(9, 116, 68);
  border: 1px solid #10B251;
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
  color: white;
}

.newIngredientForm{
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 5px;
}

input {
  padding: 5px;
  margin: 5px;
  color:#E4540E;
  border: 1px solid #10B251; 
  border-radius: 5px;
}

label {
  font-weight: 600;
  color: #E4540E;
}

.title {
  display: flex;
  justify-content: center;
}

.icon {
  max-height: 40px;
}

.homeImage1{
  padding: 5px;
  max-width: 600px; 
  height: auto; 
}

.homeSection1{
  padding: 5px;
  display: flex;
  flex-direction: row;
}

.description1{
  padding: 5px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  margin: 5px;
  background-image: linear-gradient(to right, rgb(9, 116, 68, 1), rgba(9, 116, 68, .8));
  color: white;
}

.homeSection2{
  padding: 5px;
  display: flex;
  flex-direction: row;
}

.description2{
  padding: 5px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  margin: 5px;
  background-image: linear-gradient(to left, rgb(9, 116, 68, 1), rgba(9, 116, 68, .8));
  color: white;
}