.App {
 display: flex;
 align-items: center;
 flex-direction: column;
 justify-content: center;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
}

.link {
  padding: 5px;
  color: rgb(141, 9, 106);
  display: flex;
  flex: 1;
  justify-content: center;

}
