.App {
 display: flex;
 flex-direction: column;
 align-items: center;
 min-height: 100vh;
 background: linear-gradient(to left, #ffffff, #cacaca);

}

nav {
  display: flex;
  flex-direction: row;
  background-color: rgb(9, 116, 68);
  position: sticky;
  justify-content: space-between;
  top: 0;
  min-width: 100vw;
  z-index: 100;
}

.footer{
  padding: 5px;
}

.link {
  padding: 10px;
  color: rgb(250, 248, 250);
  display: flex;
}


.ingredientList{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.ingredientInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin: 10px;
  border: 1px solid black;
  background-color: rgba(0,0,0, .5);
  border-radius: 5px;
  color: white;
}

button {
  background-color: rgb(127, 9, 111); 
  border: 1px solid rgb(9, 116, 68);
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
  color: white;
}

.newIngredientForm{
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 5px;
}

input {
  padding: 5px;
  margin: 5px;
  color:rgb(127, 9, 111);
  border: 1px solid rgb(9, 116, 68); 
  border-radius: 5px;
}

label {
  font-weight: 600;
  color:rgb(9, 116, 68); 
}